// about 03
section.section.aboutpage.black
	.wrapper-page
		.section-wrapperrow
			.section-wrapperrow-text
				h4
					|Обращаясь в нашу компанию вы можете быть уверены в профессионализме и высоком качестве наших услуг и действий!
// end about 03