// about 04
section.aboutpage.formcallback.white
	.wrapper-page
		.section-wrapperrow
			.section-row
				.col.col-6.no-padding.clearfix.formcallback-left
					.row-formcallback
						h3
							|Оставьте заявку на консультацию, и мы позвоним в ближайшее время
						p
							|Опытный юрист проконсультирует по Вашему вопросу совершенно бесплатно. Узнайте наше мнение.
				.col.col-6.no-padding.clearfix.formcallback-right
					.row-formcallback
						.form-block
							form.form-vertical
								input.form-control.form-text-field#name(placeholder="Представьтесь:" name="name" required)
								input.form-control.form-text-field#phone(placeholder="Телефон:" name="phone" required)
								button.button.button-green.big(type="submit")
									|Жду звонка
// end about 04