// blog 03
section.section.blogpage#auto
	.wowblock.no-animation.wow.fadeInUp(data-wow-duration="1s" style="visibility: hidden;")
		.wrapper-page
			.section-name
				h2.section-name-title
					|АВТО-НОВОСТИ
				.section-name-line
		.blogpage-slider
			.slick.blogpage-slick.slider-slick
				.blogpage-slick-item
					.blogpage-slick-item-pd
						.blogpage-slick-item-wrapper
							.blogpage-slick-item-wrapper-text
								h3
									a(href="statiya.html") Как выбрать страховую компанию
								p Короткое описание статьи, вводная часть.
						.blogpage-slick-item-wrapper-bg(style="background-image: url('assets/templates/autoexpert/images/blogimg.jpg');")
				.blogpage-slick-item
					.blogpage-slick-item-pd
						.blogpage-slick-item-wrapper
							.blogpage-slick-item-wrapper-text
								h3
									a(href="statiya.html") Как выбрать страховую компанию
								p Короткое описание статьи, вводная часть.
						.blogpage-slick-item-wrapper-bg(style="background-image: url('assets/templates/autoexpert/images/blogimg.jpg');")
				.blogpage-slick-item
					.blogpage-slick-item-pd
						.blogpage-slick-item-wrapper
							.blogpage-slick-item-wrapper-text
								h3
									a(href="statiya.html") Как выбрать страховую компанию
								p Короткое описание статьи, вводная часть.
						.blogpage-slick-item-wrapper-bg(style="background-image: url('assets/templates/autoexpert/images/blogimg.jpg');")
				.blogpage-slick-item
					.blogpage-slick-item-pd
						.blogpage-slick-item-wrapper
							.blogpage-slick-item-wrapper-text
								h3
									a(href="statiya.html") Как выбрать страховую компанию
								p Короткое описание статьи, вводная часть.
						.blogpage-slick-item-wrapper-bg(style="background-image: url('assets/templates/autoexpert/images/blogimg.jpg');")
				.blogpage-slick-item
					.blogpage-slick-item-pd
						.blogpage-slick-item-wrapper
							.blogpage-slick-item-wrapper-text
								h3
									a(href="statiya.html") Как выбрать страховую компанию
								p Короткое описание статьи, вводная часть.
						.blogpage-slick-item-wrapper-bg(style="background-image: url('assets/templates/autoexpert/images/blogimg.jpg');")
				.blogpage-slick-item
					.blogpage-slick-item-pd
						.blogpage-slick-item-wrapper
							.blogpage-slick-item-wrapper-text
								h3
									a(href="statiya.html") Как выбрать страховую компанию
								p Короткое описание статьи, вводная часть.
						.blogpage-slick-item-wrapper-bg(style="background-image: url('assets/templates/autoexpert/images/blogimg.jpg');")
			.blogpage-arrows.slider-slick-arrows
				.slider-slick-arrows-wrapper
			.blogpage-dots.slider-slick-dotted
// end blog 03