// blog 01
section.section.blogpage
	.wrapper-page
		.section-name
			h1.section-name-title
				|Блог
			.section-name-line
		.section-row
			ul.blogpage-hashlist
				li.blogpage-hashlist-item
					a.hash-link(href="blog.html#auto" data-plugin="hashLink")
						|Авто-новости
				li.blogpage-hashlist-item
					a.hash-link(href="blog.html#law" data-plugin="hashLink")
						|Правовые статьи
				li.blogpage-hashlist-item
					a.hash-link(href="blog.html#answer" data-plugin="hashLink")
						|Ответы на вопросы
// end blog 01