// blog 02
section.section.blogpage.formcallback.gray
	.wrapper-page
		.section-row
			.col.col-6.no-padding.clearfix.formcallback-left
				.row-formcallback
					h3
						|Подпишитесь на новые статьи
					p
						|Вы получите 10 действительно важных советов юриста водителю.
			.col.col-6.no-padding.clearfix.formcallback-right
				.row-formcallback
					.form-block
						form.form-vertical
							input.form-control.form-text-field#email(placeholder="Email:" name="name" required)
							button.button.button-green.big(type="submit")
								|Подписаться
// end blog 02