footer.footer
	.footer-container
		.footer-copyright
			|©&nbsp;2002&nbsp;–&nbsp;<?php echo date("Y");?>, ГК «ЮрАвтоЭксперт», все права защищены.
		.footer-navigation
			a.link(href="javascript:;") Политика конфинденциальности
			a.link(href="javascript:;") Карта сайта
			a.link(href="https://studionions.ru/" target="_blank") Сайт создан: STUDIONIONS