// header
header.header
	.header-wrapper
		.header-container
			.header-container-line
				.line-up
					.brand
						.brand-left
							img(src="assets/templates/autoexpert/images/icon.svg" alt="")
						.brand-right
							.brand-right-icon
								img(src="assets/templates/autoexpert/images/logo.svg" alt="")
						a(href="/")
					.contact
						.contact-address
							|г. Екатеринбург, ул. Сибирский тракт, д. 8 корп. Б офис 126
						.contact-phone
							a(href="+73433057035") +7 (343) 305 70 35
							a(href="+79530007530") +7 (953) 000 75 30 
						.contact-button
							a.button.button-green(href="javascript:;")
								|Заказать звонок
						.contact-client
							a(href="javascript:;")
								img(src="assets/templates/autoexpert/images/client.svg" alt="")
					.phone
						a(href="javascript:;")
							img(src="assets/templates/autoexpert/images/phone.svg" alt="")
					.client
						a(href="javascript:;")
							img(src="assets/templates/autoexpert/images/client.svg" alt="")
			.header-container-nav
				.logo-nav
					|Независимая экспертиза и юридические услуги
				nav.nav(role="navigation")
					ul
						li
							a(href="/") Главная
						li
							a(href="uslugi.html") Услуги и цены
						li
							a(href="about.html") О компании
						li
							a(href="reviews.html") Отзывы
						li
							a(href="blog.html") Блог
						li
							a(href="contacts.html") Контакты
				.nav-button
					.nav-button-box(data-target-menu="nav.nav")
						.nav-button-box-line
						.nav-button-box-line
						.nav-button-box-line
// end header