// javascript
script
	<?php echo getFileContent('assets/templates/autoexpert/js/yepnope.js');?>
script
	<?php echo getFileContent('assets/templates/autoexpert/js/modernizr.js');?>
// end javascript
// home javascript
include home
// end home javascript