// headblock
.hero.headblock
	.headblock-bg
	.headblock-wrapper
		.headblock-wrapper-content
			.content-left
				h1
					|<?php echo last_number(1997);?> защищаем права и интересы автолюбителей
				a.button.button-green(href="javascript:;")
					|Бесплатная консультация
			.content-right
				.content-right-block
					.right-icon.user-select
						.icon
							img(src="assets/templates/autoexpert/images/checked.svg" alt="")
					.box
						h3.green
							|Оплата за результат
						p
							|Вы можете оплатить наши услуги после выигрыша дела в суде.
				.content-right-block
					.right-icon.user-select
						.icon
							img(src="assets/templates/autoexpert/images/checked.svg" alt="")
					.box
						h3.blue
							|Ваша гарантия — наша мотивация
						p
							|Мы выигрываем 98% дел. Если проиграем? Вернём деньги и возместим убытки!
					
// end headblock