// special ofer
section.section.specialofer
	.wrapper-page
		.section-name
			h2.section-name-title
				|Наше специальное предложение
			.section-name-line
		.wrapper-page-block
			.stock-block
				.stock-block-left.blue
					|20%
				.stock-block-right
					.heading-box
						h3
							|Зимние скидки
						p
							|Обращаясь по спорам со страховыми компаниями в период с 1 февраля по 4 марта, всем клиентам, предоставляется скидка 20%
						a.button.button-green.big(href="javascript:;")
							|Другие предложения
// end special ofer