// our ofer
section.section.ourofer.gray
	.wrapper-page.no-animation.wow.fadeInUp(data-wow-duration="1s" style="visibility: hidden;")
		.section-name
			h2.section-name-title
				|Мы можем помочь если:
			.section-name-line
		.section-row
			.col.col-4
				.row-block
					.row-block-name
						|Страховая отказала или занизила выплату.
					.row-block-icon
						img.icon(src="assets/templates/autoexpert/images/ourofer_01.svg" alt="")
			.col.col-4
				.row-block
					.row-block-name
						|У виновника ДТП нет страховки или полис поддельный.
					.row-block-icon
						img.icon(src="assets/templates/autoexpert/images/ourofer_02.svg" alt="")
			.col.col-4
				.row-block
					.row-block-name
						|Необходимо установить виновника в ДТП через суд.
					.row-block-icon
						img.icon(src="assets/templates/autoexpert/images/ourofer_03.svg" alt="")
			.col.col-4
				.row-block
					.row-block-name
						|Некачественно отремонтировали автомобиль.
					.row-block-icon
						img.icon(src="assets/templates/autoexpert/images/ourofer_04.svg" alt="")
			.col.col-4
				.row-block
					.row-block-name
						|Купленный в салоне автомобиль не соответствует заявленному качеству.
					.row-block-icon
						img.icon(src="assets/templates/autoexpert/images/ourofer_05.svg" alt="")
			.col.col-4
				.row-block
					.row-block-name
						|Вашей ситуации нет в списке услуг? Просто позвоните нам по телефону. Мы легко разберёмся в любом вопросе!
					.row-block-icon
						img.icon(src="assets/templates/autoexpert/images/ourofer_06.svg" alt="")
// end our ofer