// stages of our work
section.section.stageswork
	.wrapper-page.no-animation.wow.fadeInUp(data-wow-duration="1s" style="visibility: hidden;")
		.section-name
			h2.section-name-title
				|Этапы нашей работы
			.section-name-line
		.section-row
			.col.col-4
				.row-block.no-hover
					.row-block-name
						p
							|Консультация.
							br
							|Продумываем стратегию ведения дела.
					.row-block-icon
						img.icon(src="assets/templates/autoexpert/images/ourofer_01.svg" alt="")
			.col.col-4
				.row-block.no-hover
					.row-block-name
						p
							|Рассчитываем стоимость услуг.
							br
							|Заключаем договор.
					.row-block-icon
						img.icon(src="assets/templates/autoexpert/images/ourofer_02.svg" alt="")
			.col.col-4
				.row-block.no-hover
					.row-block-name
						p
							|Приступаем к работе.
							br
							|Выигрываем дело в суде.
					.row-block-icon
						img.icon(src="assets/templates/autoexpert/images/ourofer_03.svg" alt="")
			
// end stages of our work