// free consultation
section.section.freecons
	.wrapper-page
		.section-name
			h2.section-name-title
				|Бесплатная консультация
			.section-name-line
		.section-text-description
			p
				|Опытный юрист проконсультирует по Вашему вопросу совершенно бесплатно. Узнайте наше мнение.
		.form-block
			form.form-horizontal
				input.form-control.form-text-field#name(placeholder="Представьтесь:" name="name" required)
				input.form-control.form-text-field#phone(placeholder="Телефон:" name="phone" required)
				button.button.button-green.big(type="submit")
					|Жду звонка
	.paralax.parallax-window
		.gradient
// end free consultation