// homeslider
section.section.homeslider
	.wrapper-page.no-animation.wow.fadeInUp(data-wow-duration="1s" style="visibility: hidden;")
		.section-name
			h2.section-name-title
				|Кто выиграет ваше дело?
		.section-row
			.slider
				.slider-slick.slick
					.slider-slick-item
						.slider-slick-item-wrapper
							.slider-slick-item-description
								.heading-slide-block
									h3
										|Александр Устюгов
									.heading-slide-block-description
										p
											|Ведущий юрист-консультант
								ul.heading-slide-list
									li
										|Провожу первоначальные консультации;
									li
										|Продумываю стратегию ведения дела по достижению к цели;
									li
										|Согласовываю объем и стоимость услуг за круглым столом с коллегами и руководством.
								blockquote.heading-slide-blockquote
									|Любая не учтённая мелочь может поставить под угрозу даже самое простое депо. Пословица "Семь раз отмерь один раз отрежь" - моё золотое правило
							.slider-slick-item-photo(style="background-image: url('assets/templates/autoexpert/images/dikaprio.jpg');")
					.slider-slick-item
						.slider-slick-item-wrapper
							.slider-slick-item-description
								.heading-slide-block
									h3
										|Александр Устюгов
									.heading-slide-block-description
										p
											|Ведущий юрист-консультант
								ul.heading-slide-list
									li
										|Провожу первоначальные консультации;
									li
										|Продумываю стратегию ведения дела по достижению к цели;
									li
										|Согласовываю объем и стоимость услуг за круглым столом с коллегами и руководством.
								blockquote.heading-slide-blockquote
									|Любая не учтённая мелочь может поставить под угрозу даже самое простое депо. Пословица "Семь раз отмерь один раз отрежь" - моё золотое правило
							.slider-slick-item-photo(style="background-image: url('assets/templates/autoexpert/images/dikaprio.jpg');")
					.slider-slick-item
						.slider-slick-item-wrapper
							.slider-slick-item-description
								.heading-slide-block
									h3
										|Александр Устюгов
									.heading-slide-block-description
										p
											|Ведущий юрист-консультант
								ul.heading-slide-list
									li
										|Провожу первоначальные консультации;
									li
										|Продумываю стратегию ведения дела по достижению к цели;
									li
										|Согласовываю объем и стоимость услуг за круглым столом с коллегами и руководством.
								blockquote.heading-slide-blockquote
									|Любая не учтённая мелочь может поставить под угрозу даже самое простое депо. Пословица "Семь раз отмерь один раз отрежь" - моё золотое правило
							.slider-slick-item-photo(style="background-image: url('assets/templates/autoexpert/images/dikaprio.jpg');")
			.slider-slick-dotted
			.slider-slick-arrows
				
// end homeslider