// time is money
section.section.timemoney.gray
	.wrapper-page.no-animation.wow.fadeInUp(data-wow-duration="1s" style="visibility: hidden;")
		.stock-block
			.stock-block-left
			.stock-block-right
				.stock-block-heading
					h3
						|Время - деньги!
					p
						|Судебная практика и закон меняются каждый день. То что можно взыскать сегодня - в будущем может стать не доступно. Не теряйте времени - действуйте!
					.form-block
						form.form-vertical
							input.form-control.form-text-field#name(placeholder="Представьтесь:" name="name" required)
							input.form-control.form-text-field#phone(placeholder="Телефон:" name="phone" required)
							button.button.button-green.big(type="submit")
								|Жду звонка
// end time is money