// contacts
section.section.contacts.black
	.wrapper-page.no-animation.wow.fadeInUp(data-wow-duration="1s" style="visibility: hidden;")
		.section-name
			h2.section-name-title
				|Контакты
			.section-name-line
		.stock-block
			.stock-block-left
				.heading-box
					h3
						|ЮрАвтоЭксперт
					p.mb
						|ИНН 664605866654
						br
						|ОГРН 312661923600033
					p.mb
						|г. Екатеринбург, 
						br
						|ул. Сибирский тракт, д. 8 корпус Б офис 126
					a.link(href="tel:+73433057035") +7 (343) 305 70 35
					a.link.mb(href="tel:+73433057035") +7 (343) 305 70 35
					p.mb
						|E-mail:
						=" "
						a(href="mailto:autouret@mail.ru") autouret@mail.ru
			.stock-block-right
				.map-block
					.map-block-widget(data-plugin="googlemap" data-route="+620100,+Свердловская+обл.,+Екатеринбург,Сибирский+тракт,+8Б" data-latlong='{"lat":56.82479197,"lng":60.64511597}' data-center='{"lat":56.82479197,"lng":60.64511597}' data-zoom="17")
				
		
// end contacts