// statya 01
section.section.statya
	.wrapper-page.wrapper
		.section-name
			h1.section-name-title
				|Заголовок статьи
		.section-statya.text-left
			p
				|Шесть лет Пушкин провёл в Царскосельском лицее, открытом 19 октября 1811 года. Здесь юный поэт пережил Отечественной войны 1812 года. Здесь впервые открылся и был высоко оценён его поэтический дар. Воспоминания о годах, проведённых в Лицее, о лицейском братстве навсегда остались в душе поэта[19].В лицейский период Пушкиным было создано много стихотворных произведений.
			p
				img(src="assets/templates/autoexpert/images/people.jpg" alt="")
			p
				|Шесть лет Пушкин провёл в Царскосельском лицее, открытом 19 октября 1811 года. Здесь юный поэт пережил Отечественной войны 1812 года. Здесь впервые открылся и был высоко оценён его поэтический дар. Воспоминания о годах, проведённых в Лицее, о лицейском братстве навсегда остались в душе поэта[19].В лицейский период Пушкиным было создано много стихотворных произведений.
			ul
				li
					|Списки 1
				li
					|Списки 2
				li
					|Списки 3
			.frame
				.frame_16x9
					iframe(width="560" height="315" src="https://www.youtube.com/embed/NvHlKKMatsw" frameborder="0" allowfullscreen)
			p
				|Шесть лет Пушкин провёл в Царскосельском лицее, открытом 19 октября 1811 года. Здесь юный поэт пережил Отечественной войны 1812 года. Здесь впервые открылся и был высоко оценён его поэтический дар. Воспоминания о годах, проведённых в Лицее, о лицейском братстве навсегда остались в душе поэта[19].В лицейский период Пушкиным было создано много стихотворных произведений.
			p
				|Шесть лет Пушкин провёл в Царскосельском лицее, открытом 19 октября 1811 года. Здесь юный поэт пережил Отечественной войны 1812 года. Здесь впервые открылся и был высоко оценён его поэтический дар. Воспоминания о годах, проведённых в Лицее, о лицейском братстве навсегда остались в душе поэта[19].В лицейский период Пушкиным было создано много стихотворных произведений.
			blockquote
				|Шесть лет Пушкин провёл в Царскосельском лицее, открытом 19 октября 1811 года. Здесь юный поэт пережил Отечественной войны 1812 года. Здесь впервые открылся и был высоко оценён его поэтический дар. Воспоминания о годах, проведённых в Лицее, о лицейском братстве навсегда остались в душе поэта[19].В лицейский период Пушкиным было создано много стихотворных произведений.
// end statya 01