// uslugi 01
section.section.uslugipage
	.wrapper-page
		.section-name
			h1.section-name-title
				|Услуги и цены
			.section-name-line
		.section-wrapperrow
			.section-row
				.col.col-4.no-padding.clearfix
					.row-block
						.row-block-text
							h4
								|Страховая отказала или занизила выплату.
							p
								|Проведём независимую экспертизу и взыщем ущерб!
						.row-block-image
							img.icon(src="assets/templates/autoexpert/images/ourofer_01.svg" alt="")
						a.row-block-link(href="ushcherb.html")
							|Определить кто виноват в ДТП?
				.col.col-4.no-padding.clearfix
					.row-block
						.row-block-text
							h4
								|Определить кто виноват в ДТП?
							p
								|Проведём необходимые экспертизы и докажем что Вы правы!
						.row-block-image
							img.icon(src="assets/templates/autoexpert/images/ourofer_02.svg" alt="")
						a.row-block-link(href="ushcherb.html")
							|Определить кто виноват в ДТП?
				.col.col-4.no-padding.clearfix
					.row-block
						.row-block-text
							h4
								|Купленный автомобиль не соответствует заявленному качеству?
							p
								|Взыщем стоимость авто в суде!
						.row-block-image
							img.icon(src="assets/templates/autoexpert/images/ourofer_03.svg" alt="")
						a.row-block-link(href="ushcherb.html")
							|Определить кто виноват в ДТП?
				.col.col-4.no-padding.clearfix
					.row-block
						.row-block-text
							h4
								|У виновника ДТП нет страховки?
							p
								|Рассчитаем сумму ущерб и взыщем в суде!
						.row-block-image
							img.icon(src="assets/templates/autoexpert/images/ourofer_04.svg" alt="")
						a.row-block-link(href="ushcherb.html")
							|Определить кто виноват в ДТП?
				.col.col-4.no-padding.clearfix
					.row-block
						.row-block-text
							h4
								|Некачественно отремонтирован автомобиль?
							p
								|Проведём экспертизу качества ремонта и взыскание ущерба!
						.row-block-image
							img.icon(src="assets/templates/autoexpert/images/ourofer_05.svg" alt="")
						a.row-block-link(href="ushcherb.html")
							|Определить кто виноват в ДТП?
				.col.col-4.no-padding.clearfix
					.row-block
						
						.row-block-text
							h4
								|Вашей ситуации нет в списке услуг?
							p
								|Мы легко разберёмся в любом вопросе! Звоните!
						.row-block-image
							img.icon(src="assets/templates/autoexpert/images/ourofer_06.svg" alt="")
						a.row-block-link(href="ushcherb.html")
							|Определить кто виноват в ДТП?
			.section-row.s_block
				.text-center.s_block-wrapper
					ul
						li
							a(href="javascript:;" data-window="svksh" data-plugin="shrgo")
						li
							a(href="javascript:;" data-window="soksh" data-plugin="shrgo")
						li
							a(href="javascript:;" data-window="stwsh" data-plugin="shrgo")
						li
							a(href="javascript:;" data-window="sfbsh" data-plugin="shrgo")
						li
							a(href="javascript:;" data-window="sgpsh" data-plugin="shrgo")
// end uslugi 01