// ushcherb 01
section.section.ushpage
	.wrapper-page
		.section-name
			h1.section-name-title
				|Оценка ущерба
			.section-name-line
		.section-wrapperrow
			.section-row
				.col.col-6.ushpage-col
					.ushpage-col-wrapper
						.ushpage-col-text
							h3
								|Страховая отказала или занизила выплату?
							p
								|Проведём независимую экспертизу и взыщем сумму ущерба
						.ushpage-col-icon
							img(src="assets/templates/autoexpert/images/ush_01.svg" alt="")
				.col.col-6.ushpage-col
					.ushpage-col-wrapper
						.ushpage-col-text
							h3
								|Оплата за результат!
							p
								|Вы можете оплатить ниши услуги после выигрыша дела в суде
						.ushpage-col-icon
							img(src="assets/templates/autoexpert/images/ush_02.svg" alt="")


// end ushcherb 01