// ushcherb 05
section.section.prices
	.wrapper-page.no-animation.wow.fadeInUp(data-wow-duration="1s" style="visibility: hidden;")
		.section-name
			h2.section-name-title
				|Цены
			.section-name-line
		.section-row
			.col.col-6.prices-block
				h3.icon-expert
					|Услуги эксперта
				dl
					dt
						|Предварительный расчёт ущерба
					dd
						|Бесплатно
				dl
					dt
						|Выезд эксперта по Екатеринбургу
					dd
						|500 ₽
				dl
					dt
						|Экспертное заключение (ущерб+УТС)
					dd
						|от 1000 до 15000 ₽
			.col.col-6.prices-block
				h3.icon-urist
					|Услуги юриста
				dl
					dt
						|Консультация
					dd
						|Бесплатно
				dl
					dt
						|Подача документов в СК
					dd
						|500 ₽
				dl
					dt
						|Досудебная претензия
					dd
						|1000 ₽
				dl
					dt
						|Взыскание ущерба в суде
					dd
						|от 5000 ₽
				
				
// end ushcherb 05