// ushcherb 06
section.section.aboutpage.black
	.wrapper-page
		.section-wrapperrow
			.section-wrapperrow-text
				h4.text-center
					|Указанные цены актуальны при полной предоплате услуг, в случае заключения договора с оплатой после суда стоимость услуг рассчитывается индивидуально в зависимости от сложности дела
// end ushcherb 06