// ushcherb 04
section.section.aboutpage.black
	.wrapper-page
		.section-wrapperrow
			.section-wrapperrow-text
				h4
					|Стоимость услуг согласно статьи 98 ГПК РФ будет взыскана со страховой компании плюсом к ущербу!
// end ushcherb 04