// ushcherb 03
section.section.homeslider.ushpage
	.wrapper-page.no-animation.wow.fadeInUp(data-wow-duration="1s" style="visibility: hidden;")
		.section-name
			h2.section-name-title
				|Примеры выигранных дел
			.section-name-line
		.section-row
			.slider
				.slider-slick.slick
					.slider-slick-item
						.slider-slick-item-wrapper
							.slider-slick-item-description
								.heading-slide-block
									h3
										|Дело номер №1
									.heading-slide-block-description.green
										p
											|Против компании ИНТАЧ СТРАХОВАНИЕ
								.heading-slide-text
									p
										|Имшенецкого. Адвокат Карабчевский Н. П. В феврале 1884 года, женившись ради получения материальных выгод на Серебряковой Марии Ивановне, Имшенецкий вскоре после брака склонил ее на выдачу полной доверенности на управление домом, а через месяц после свадьбы
							.slider-slick-item-photo(style="background-image: url('assets/templates/autoexpert/images/arbitr.jpg');")
					.slider-slick-item
						.slider-slick-item-wrapper
							.slider-slick-item-description
								.heading-slide-block
									h3
										|Дело номер №2
									.heading-slide-block-description.green
										p
											|Против компании ИНТАЧ СТРАХОВАНИЕ
								.heading-slide-text
									p
										|Имшенецкого. Адвокат Карабчевский Н. П. В феврале 1884 года, женившись ради получения материальных выгод на Серебряковой Марии Ивановне, Имшенецкий вскоре после брака склонил ее на выдачу полной доверенности на управление домом, а через месяц после свадьбы
							.slider-slick-item-photo(style="background-image: url('assets/templates/autoexpert/images/arbitr.jpg');")
					.slider-slick-item
						.slider-slick-item-wrapper
							.slider-slick-item-description
								.heading-slide-block
									h3
										|Дело номер №3
									.heading-slide-block-description.green
										p
											|Против компании ИНТАЧ СТРАХОВАНИЕ
								.heading-slide-text
									p
										|Имшенецкого. Адвокат Карабчевский Н. П. В феврале 1884 года, женившись ради получения материальных выгод на Серебряковой Марии Ивановне, Имшенецкий вскоре после брака склонил ее на выдачу полной доверенности на управление домом, а через месяц после свадьбы
							.slider-slick-item-photo(style="background-image: url('assets/templates/autoexpert/images/arbitr.jpg');")
			.slider-slick-dotted
			.slider-slick-arrows
				
// end ushcherb 03