// ushcherb 02
section.section.ushpage.gray
	.wrapper-page.no-animation.wow.fadeInUp(data-wow-duration="1s" style="visibility: hidden;")
		.section-name
			h2.section-name-title
				|Схема нашей работы
			.section-name-line
		.section-wrapperrow
			.section-row
				.col.col-4.ushpage-col
					.ushpage-col-wrapper
						.ushpage-col-text
							p
								|Предварительная оценка ущерба, изучаем особенности, определяем стратегию ведения дела
						.ushpage-col-icon
							img(src="assets/templates/autoexpert/images/ush_03.svg" alt="")
				.col.col-4.ushpage-col
					.ushpage-col-wrapper
						.ushpage-col-text
							p
								|Проводим независимую экспертизу и отправляем претензию в страховую компанию
						.ushpage-col-icon
							img(src="assets/templates/autoexpert/images/ush_04.svg" alt="")
				.col.col-4.ushpage-col
					.ushpage-col-wrapper
						.ushpage-col-text
							p
								|Если страховая не платит по претензии то мы взыскиваем ущерб в судебном порядке
						.ushpage-col-icon
							img(src="assets/templates/autoexpert/images/ush_05.svg" alt="")


// end ushcherb 02