include php/functions.php
include php/obstart.php
doctype html
html.startmenu.loading.complete.no-js(lang="ru" prefix="og: http://ogp.me/ns#")
	- var title = "Блог";
	include inc/head
	body.start.pages
		include inc/header
		.mainwrapper
			main.main
				include inc/bl_01
				include inc/bl_02
				include inc/bl_03
				include inc/bl_04
				include inc/bl_05
				include inc/bl_06
			include inc/footer
		include inc/javascript
include php/obend.php