include php/functions.php
include php/obstart.php
doctype html
html.startmenu.loading.complete.no-js(lang="ru" prefix="og: http://ogp.me/ns#")
	- var title = "Контакты";
	include inc/head
	body.start.pages
		include inc/header
		.mainwrapper
			main.main
				include inc/cont_01.jade
				include inc/cont_02.jade
				include inc/bl_06
			include inc/footer
		include inc/javascript
include php/obend.php